<%= link_to "New Player", new_player_path %>
<% if @p == [] %>
	<p> No Players </p>
<% else %>
	<% @player.each do |player| %>
		<p>
  			<%= player.nickname %> <br />
  			<%= player.rank %> <br />
  			<%= player.charizma %> <br />
  			<%= player.wisdom %> <br />
  			<%= link_to " delete player ", player_path(player.id) %>
  		</p>
  	<% end %>
 <% end %>
