  <%= f.text_field :nickname %> <br />
  <%= f.text_field :rank %> <br />
  <%= f.text_field :charizma  %> <br />
  <%= f.text_field :wisdom  %> <br />
  <%= link_to 'edit', edit_player_path(player.id) %>
  <%= link_to 'delete', player_path(player.id), method: :delete %>